*{
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;

}
.header{
  display: block;
  height: 80px;
  padding: 5px;
  justify-content: space-between;
  background-color:rgb(209, 219, 238);
}
.header__logo{
  margin-top: 5px;
  float: left;
}
.header__login{
  float: right;
}
.header--login-profileList{
  padding: 10px;
  margin-right: 100px
}
.header--login-list{
  margin-left: 50px;
}

/*tenemos un problemita porque no tenemeos intenret y estamos esperando a que la operadira resuelva*/
