*{
  font-family: Tahoma, sans-serif;
  margin: 0;
}
.header{
  display: block;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  padding: 100px;
}
.header__logo{
  margin-top: 5px;
  float: left;
}
.header__login{
  float: right;
  /* background-color:  aqua; */
}